.myPhoto {
  border-radius: 5%;
  width: 95%;
  height: 100%;
  color: transparent;
  aspect-ratio: 1 /1;
  filter: grayscale(80%);
  overflow-clip-margin: content-box;
  overflow: clip;
}

.s3 {
  border-radius: 15%;
}

.dynamo {
  border-radius: 15%;
}

.gitGif {
  margin-top: 3rem;
  overflow: hidden;
}

.gitGif img {
  aspect-ratio: 1 / 1;
  height: 4rem;
  width: 4rem;
  position: absolute;
  right: 0;
}

.texto, .texto.tdbem {
  position: absolute;
  bottom: -100%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  opacity: 0;
  font-family: "JetBrains Mono", monospace;
}

.texto {
  left: 90%;
  animation: slideInOla 18s infinite;
}

.texto.tdbem {
  left: 87%;
  animation: slideInTdBem 18s infinite; 
}

@media (max-width: 560px) {
  .texto {
    left: 75%; 
  }

  .texto.tdbem {
    left: 70%; 
  }
}

@keyframes slideInOla {
  0%, 25%, 50%, 75%, 100% {
      bottom: -20%;
      opacity: 0;
  }
  5%, 20% {
      bottom: -10%;
      opacity: 1;
  }
}

@keyframes slideInTdBem {
  0%, 25%, 50%, 75%, 100% {
      bottom: -30%;
      opacity: 0;
  }
  50%, 65% {
      bottom: -10%;
      opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

* {
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: antialiased;
  -moz-font-feature-settings: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03",
    "cv04", "cv05", "cv06", "cv09", "cv10";
  letter-spacing: 0.1em;
}
